certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
exceptiongroup==1.2.0
fonttools==4.50.0
idna==3.6
iniconfig==2.0.0
ipython>=8.2.0
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
packaging==24.0
pandas==2.2.1
pillow==10.2.0
Pint==0.23
pluggy==1.4.0
PyMeasure==0.13.1
pyparsing==3.1.2
PyQt6==6.6.1
PyQt6-Qt6==6.6.2
PyQt6-sip==13.6.0
pyqtgraph==0.13.4
pyserial==3.5
pytest==8.1.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyVISA==1.14.1
PyVISA-py==0.7.2
requests==2.31.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
